h2{
    text-align: center;
    padding: 30px 0;
}
form{
    margin-left: 30%;
    margin-right: 30%;
}

/*--------------------------------------*/

input:invalid {
    border: 1px solid red;
}


.registered{
    text-align: center;
}